profiles {
    slurm {
        // Say we want to use the slurm executor
        executor {
          name = 'slurm'
        }
        // Use micromamba to create environments
        conda.enabled = true
        conda.useMamba = true
        conda.useMicromamba = false
        report.overwrite = true
        // Everything in the process block will apply to all processes run 
        // by Nextflow
        process {
            conda = '/hpc-home/veevers/mamba/envs/nextflow'
            // By default, jobs will be submitted to the queue 'ei-short'
            queue = 'nbi-short,jic-short'
            // We'll request 1.5GB and 4 CPUs by default
            memory = '1GB'
            cleanup = true
            cpus = 1
            // Some processes use more memory, and we've labelled these with 
            // the 'largemem' label. Any settings in here will apply to 
            // any of these more memory intensive tasks.
            withLabel: largemem {
                // Typically our processes requiring a lot of memory are
                // splitting and merging data, and not very computationally
                // demanding
                queue = 'nbi-short,jic-short'
                memory = '20GB'
                cpus = 1
            }
            withLabel: largememandcpu {
                // Processes which need high mem, and will utilise multiple cpu
                // This is typically the full matrix decompositions
                queue = 'nbi-short,jic-short'
                memory = '8GB'
                cpus = 4
            }
            withLabel: usearray {
            	array = 500
            }
        }
    }
}
